[submodule "tranzact-blockchain-gui"]
	path = tranzact-blockchain-gui
	url = https://github.com/Tranzact-Network/tranzact-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Tranzact-Network/mozilla-ca.git
        branch = main
